<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" 
        src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
</html>
<body>
    <main>
            <table>
                <thead>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                </thead>
                <tbody>
                    <tr v-for="(item ,idx) in users">
                        <td>{{item.nombre}}</td>
                        <td>{{item.apellido}}</td>
                    </tr>
                </tbody>
            </table>

            <form @submit.prevent="createUser">
                <input type="text" placeholder="nombre" v-model="objUser.nombre" />
                <input  type="text"  placeholder="apellido"  v-model="objUser.apellido"  />
                <input type="submit" value="GUARDAR"/>
            </form>

            {{ $data }}
    </main>
</body>
<script type="text/javascript">
    new Vue({
         el:'main',
         data:{
                users:[
                    {'nombre':'Ernesto','apellido':'liberio'},
                    {'nombre':'Gerardo','apellido':'Vera'},
                    {'nombre':'Martha','apellido':'Vera'}
                ],
                objUser:{'nombre':null,'apellido':null}
         },
         methods:{
             createUser(){
                   this.users.unshift(this.objUser); 
                   this.orderUser;
                   this.objUser={'nombre':null,'apellido':null}
             }
         },
         computed:{
             orderUser(){
                 return this.users.sort(function(a,b){
                        if(a.nombre >b.nombre){
                            return 1;
                        }
                        if(a.nombre < b.nombre){
                            return -1;
                        }
                        return 0;
                 });
             }
         }
    });
</script>